[user]
  name = Ankit Khambhati
  email = akhambhati@gmail.com
[core]
	autocrlf = false
	fscache = true
	symlinks = true

[safe]
	directory = /data/data/com.termux/files/home/Holocron/repos/*
	directory = /data/data/com.termux/files/home/Holocron/repos/*
	directory = /data/data/com.termux/files/home/Holocron/storage/holocron-01/volume1/repos/*
